<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="parent">
      <h1>Lorem ipsum, dolor sit amet</h1>
      <p>
        Lorem as quisquam temporibus consequuntur libero illum expedita sapiente
        iste sint veritatis unde ex impedit consectetur eveniet quia.
      </p>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>

    <style>
      #parent {
        text-align: center;
      }
      .button {
        background-color: #6366f1;
        border: none;
        height: 3rem;
        width: 7rem;
        cursor: pointer;
        font-size: 20px;
        color: white;
      }
    </style>
  </body>
</html>
