<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="parent">
    <h1>404</h1>
    <h2>not found</h2>
    <p>page that you looking for not found</p>
    <button class="button">Go back</button>
    <button class="button">Home</button>
  </div>

  <style>
#parent{
  text-align: center;
  
}

.button{
  background-color: #6366f1;
      border: none;
      height: 3rem;
      width: 7rem;
      cursor: pointer;
      font-size: 20px;
      color: white;
}

#parent h1{
  font-size: 5rem;
}
  </style>
</body>
</html>