<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="parent">
    <div>
      <h3>Sercive</h3>
      <a class="link" href="">links</a><br>
      <a class="link" href="">links</a><br>
      <a class="link" href="">links</a>
    </div>
    <div>
      <h3>others links</h3>
      <a class="link" href="">links</a><br>
      <a class="link" href="">links</a><br>
      <a class="link" href="">links</a>
    </div>
    <div>
      <input type="text" name="" id="input" placeholder="enter email">
      <button id="button">button</button>
      <p>Subscribe to our newsletter</p>
    </div>
    
  </div>

  <style>
    #parent{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: aliceblue;
      padding: 50px;
    }

    #input{
      height: 2.5rem;
      font-size: 17px;
    }
    #button{
      background-color: #6366f1;
      border: none;
      height: 3rem;
      width: 7rem;
      cursor: pointer;
      font-size: 20px;
      color: white;
    }

    .link{
      text-decoration: none;
    }
  </style>
</body>
</html>